<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" type="text/css"  href="style2.css">
    <title>Document</title>
</head>
<body>

    <img src="209891099-288-k515713.jpg">
    
    <form action="/" method="POST">
        <label for="name">Namn</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="feedback">feedback</label><br>
        <input type="feedback" id="feedback" name="feedback"><br>
        <input type="submit" value="click">
    </form>
    
</body>
</html>